<app-user-header (menuClick)="toggleSidebar.toggle()"></app-user-header>
<mat-sidenav-container class="dashboard-container" [hasBackdrop]="false">
  <mat-sidenav [(opened)]="isSidenavOpen" [mode]="'push'" opened #toggleSidebar class="toggle--sidebar">
    <app-user-sidebar></app-user-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <main [ngClass]="{'sidebar--width': isSidenavOpen}">
        <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-user-footer></app-user-footer>