main {
  min-height: calc(100vh - 128px);
  width: 100%;
  padding: 15px;
  &.sidebar--width {
    max-width: calc(100vw - 251px);
  }
}
.toggle--sidebar {
  max-width: 251px;
  border-radius: 0;
  border-right: 1px solid #f2f2f2;
  background-color: #fefdfe;
}
.mat-drawer-container {
  background-color: transparent;
}
