table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.password--col {
  width: 101px;
  max-width: 101px;
  min-width: 101px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table--wrapper{
  padding: 25px 15px 15px;
  max-width: 1200px;
  margin-inline: auto;
}
.filter--input{
  max-width: 321px;
}