a {
  &.active {
    background-color: var(
      --mdc-text-button-label-text-color,
      var(--mat-sys-primary)
    );
    color: #fff !important;
    > * {
      color: #fff !important;
    }
  }
}
