<div class="container mx-auto pt-5">
    <div class="flex flex-wrap">
        <div class="w-1/6 px-2">
            <ul class="font-medium">
                <li>About</li>
                <li>Education</li>
                <li>Skill</li>
                <li>Experience</li>
                <li>Projects</li>
            </ul>
        </div>
        <div class="w-5/6 px-2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolores nesciunt aut velit cupiditate
                saepe aperiam earum consequuntur, expedita ducimus? Quis reprehenderit natus facere tempore fuga eaque
                accusantium vitae tenetur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolores nesciunt aut velit cupiditate
                saepe aperiam earum consequuntur, expedita ducimus? Quis reprehenderit natus facere tempore fuga eaque
                accusantium vitae tenetur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolores nesciunt aut velit cupiditate
                saepe aperiam earum consequuntur, expedita ducimus? Quis reprehenderit natus facere tempore fuga eaque
                accusantium vitae tenetur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolores nesciunt aut velit cupiditate
                saepe aperiam earum consequuntur, expedita ducimus? Quis reprehenderit natus facere tempore fuga eaque
                accusantium vitae tenetur!</p>
        </div>
    </div>
</div>