<div class="example-card" *ngIf="!emailSent">
  <h2 class="text-center mb-2 mt-5">Recover Password!</h2>
  <p class="text-center mb-4 text-xs max-w-[521px] mx-auto">Enter your email address and we'll send you an email with instructions to reset your password.</p>
  <form [formGroup]="forgotFormInfo" (ngSubmit)="handleSubmit()"  class="max-w-[321px] mx-auto py-5">
    <mat-form-field class="w-full">
      <input autofocus type="email" matInput placeholder="Email *" formControlName="email" />
      <mat-error *ngIf="forgotFormInfo.get('email')?.hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="forgotFormInfo.get('email')?.hasError('email')">
        Please enter a valid email.
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" class="w-full">
      Submit
    </button>
    <p class="text-center my-5 text-sm">
        Back to <a mat-button color="primary" [routerLink]="['/auth/login']"> Sign In</a>
    </p>
  </form>
</div>
<div class="example-card" *ngIf="emailSent">
  <h2 class="text-center mb-2 mt-5">Please check your email</h2>
  <p class="text-center mb-4 text-xs max-w-[521px] mx-auto">A email has been send to <strong>{{userEmail}}</strong>. Please check for an email from company and click on the included link to reset your password.</p>
    <p class="text-center my-5 text-sm">
        Back to <a mat-button color="primary" [routerLink]="['']">Home</a>
    </p>
</div>