<div class="container mx-auto pt-5">
    <div class="flex flex-wrap">
        <div class="w-full px-2">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="SVG">SVG</mat-tab>
                <mat-tab label="Canvas">Cansvas</mat-tab>
                <mat-tab label="Full Calendar">Full Calendar</mat-tab>
                <mat-tab label="Map">Map</mat-tab>
                <mat-tab label="Data Table">Data table</mat-tab>
                <mat-tab label="Complex Form">Form</mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>