<div class="example-card">
  <h2 class="text-center my-5">Reset Password!</h2>
  <form [formGroup]="resetForm" (ngSubmit)="handleSubmit()" class="max-w-[321px] mx-auto">
    <mat-form-field class="w-full">
      <input type="password" matInput placeholder="Password *" formControlName="password" />
      <mat-error *ngIf="resetForm.get('password')?.hasError('required')">
        Password is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <input type="password" matInput placeholder="Confirm Password *" formControlName="confirmPassword" />
      <mat-error *ngIf="resetForm.get('confirmPassword')?.hasError('required')">
        Password is required.
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" class="w-full">
      Submit
    </button>
  </form>
</div>