<header>
  <mat-toolbar color="primary">
    <a
      class="logo"
      mat-icon-button
      color="primary"
      routerLink="/"
      routerLinkActive="active"
      aria-label="Example icon-button with menu icon"
    >
      <img src="img/logo.jpg" alt="MEAN" />
    </a>
    <span class="text-sm mr-3">SRV Mean App</span>
    <a mat-button color="primary" routerLink="/expertise" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      > Expertise</a
    >
    <a mat-button color="primary" routerLink="/products" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      > Products</a
    >
    <a mat-button color="primary" routerLink="/about" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      > About</a
    >
    <a mat-button color="primary" routerLink="/contact" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      > Contact</a
    >
    <span class="example-spacer"></span>
    <a mat-button color="primary" routerLink="/auth/login" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      > LogIn</a
    >
    <a
      mat-button
      color="primary"
      routerLink="/auth/register"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      > Register</a
    >
  </mat-toolbar>
</header>
