<div class="api--links">
  <h2 class="font-medium">Click below API end points to test the APIs</h2>
  <a
    class="text-sm hover:text-blue-300"
    href="https://srv-server.onrender.com/users"
    target="_blank"
    >/Get All Usres</a
  >
  <a
    class="text-sm hover:text-blue-300"
    href="https://srv-server.onrender.com/getAllCards"
    target="_blank"
    >/Get All Cards</a
  >
  <a
    class="text-sm hover:text-blue-300"
    href="https://app.swaggerhub.com/apis-docs/self-3e3/SRV-MEAN/1.0.0"
    target="_blank"
    >/Swagger Docs</a
  >
</div>
