<div class="example-card">
  <h2 class="text-center mb-2">Welcome back!</h2>
  <p class="text-center mb-4 text-xs">Please fill the fields to login.</p>
  <form [formGroup]="loginFormInfo" (ngSubmit)="handleLogin()">
    <mat-form-field>
      <input
        autofocus
        type="email"
        matInput
        placeholder="Email *"
        formControlName="email"
      />
      <mat-error *ngIf="loginFormInfo.get('email')?.hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="loginFormInfo.get('email')?.hasError('email')">
        Please enter a valid email.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Password *"
        formControlName="password"
      />
      <mat-error *ngIf="loginFormInfo.get('password')?.hasError('required')">
        Password is required.
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" class="w-full">
      Submit
    </button>
  </form>
</div>
