<div class="example-card dark:text-white">
  <h2 class="text-center mb-2">Welcome back!</h2>
  <p class="text-center mb-2 text-xs">Please fill the fields to login.</p>
  <p class="text-center mb-4 text-xs bg-yellow-50 text-yellow-800 py-2">Click "Submit" to log in using the default
    credentials.</p>
  <form [formGroup]="loginFormInfo" (ngSubmit)="handleLogin()">
    <mat-form-field>
      <input autofocus type="email" matInput placeholder="Email *" formControlName="email" />
      <mat-hint class="text-sm"><small>We'll never share your email with anyone else.</small></mat-hint>
      <mat-error *ngIf="loginFormInfo.get('email')?.hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="loginFormInfo.get('email')?.hasError('email')">
        Please enter a valid email.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Password *" formControlName="password" />
      <mat-error *ngIf="loginFormInfo.get('password')?.hasError('required')">
        Password is required.
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" class="w-full">
      Submit
    </button>
    <p class="text-center my-5 text-sm"><a mat-button color="primary" [routerLink]="['/auth/forgot-password']">Forgot
        Password</a></p>
    <p class="text-center text-sm">
      Don't have an account? <a mat-button color="primary" [routerLink]="['/auth/register']">Register</a>
    </p>
  </form>
</div>