.profile-icon{
  border-radius: 50%;
  background: color(srgb 0 0.36 0.73 / 0.25);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #005cbb;
}