<div class="container mx-auto py-5">
    <div class="flex flex-wrap">
        <div class="w-full px-2">
            <h3 class="font-medium mb-2">Calculator App</h3>
            <p class="text-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus mollitia neque
                voluptates? Quos
                deleniti animi harum qui enim earum iure! Neque, voluptatum beatae.</p>
        </div>
        <div class="max-w-[450px] mt-3 bg-gray-200 w-100 mx-auto">
            <div class="flex flex-wrap">
                <input type="text" [value]="currentNumber" readonly
                    class="text-right text-xl font-mono bg-gray-200 focus:border-transparent focus:outline-none rounded w-full mb-2 p-2" />
            </div>
            <div class="grid grid-cols-4 grid-rows-5">
                <button type="button" (click)="clear()"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    AC
                </button>
                <button (click)="getOperation('%')"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    %
                </button>
                <button type="button" (click)="backSpace()"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    Back
                </button>
                <button type="button" (click)="getOperation('/')"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    /
                </button>

                <button type="button" (click)="getNumber('7')"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    7
                </button>
                <button type="button" (click)="getNumber('8')"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    8
                </button>
                <button type="button" (click)="getNumber('9')"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    9
                </button>
                <button type="button" (click)="getOperation('x')"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    x
                </button>

                <button type="button" (click)="getNumber('4')"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    4
                </button>
                <button type="button" (click)="getNumber('5')"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    5
                </button>
                <button type="button" (click)="getNumber('6')"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    6
                </button>
                <button type="button" (click)="getOperation('-')"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    -
                </button>

                <button type="button" (click)="getNumber('1')"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    1
                </button>
                <button type="button" (click)="getNumber('2')"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    2
                </button>
                <button type="button" (click)="getNumber('3')"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    3
                </button>
                <button type="button" (click)="getOperation('+')"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    +
                </button>

                <button type="button" (click)="getDecimal()"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    .
                </button>
                <button type="button" (click)="getNumber('0')"
                    class="hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    0
                </button>
                <button type="button" (click)="getOperation('=')"
                    class="col-span-2 hover:bg-gray-300 cursor-pointer p-5 border border-solid border-gray-100 w-full h-full flex justify-center items-center rounded-sm leading-none">
                    =
                </button>
            </div>
        </div>
    </div>
</div>